.git
.ipynb_checkpoints
data
notebooks/ptyhonVideoForBigDataFiles/.ipynb_checkpoints
notebooks/ptyhonVideoForBigDataFiles/alexFiles/.ipynb_checkpoints
notebooks/ptyhonVideoForBigDataFiles/alexFiles/__pycache__


# To prevent storing dev/temporary container data
*.csv
tmp
.DS_Store